VITE_API_BASE_URL=http://localhost:3002/api

# API
PORT=3002

# SQL Server remoto
DB_HOST=localhost
DB_PORT=1433
DB_NAME=DestruccionDB
DB_USER=sa
DB_PASSWORD=tu-contraseña
DB_ENCRYPT=false
DB_TRUST_CERT=true
DB_POOL_MAX=30
DB_REQUEST_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=15000

EMAIL_ENABLED=false
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=notificaciones.Humax@hotmail.com
SMTP_PASS=blmaaisknuxirxfp
SMTP_FROM="Sistema Actas <notificaciones.Humax@hotmail.com>"
APP_BASE_URL=http://localhost:8443
